<!doctype html>
<html ng-app="ui.bootstrap.demo">
   <head>
       <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
       <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
       <script src="scripts/example.js"></script>
       <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
   </head>
   <body>
      <div ng-controller="AlertDemoCtrl">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
      </div>
   </body>
</html>